<p>Please sign up</p>
<form #registerDetails>
    <label for="name">Display name
        <input type="text" id="displayName" name="displayName" [(ngModel)]="model.displayName">
    </label>
    <label for="username">Email
        <input type="email" id="username" name="email" [(ngModel)]="model.email">
    </label>
    <label for="password">Password
        <input type="text" id="password" name="password" [(ngModel)]="model.password">
    </label>
    <button role="button" (click)="signUp(registerDetails)">Sign up</button>
</form>
<button role="button" [routerLink]="['/login']">Go back</button>