@import "../../../../scss/styles";
// @import '~material-icons/iconfont/material-icons.scss';
.loginContainer {
  width: 21rem;
  border: 1px solid red;
  border-radius: 3px;
  @include Center;
  p {
    text-align: center;
    height: 10vh;
  }
  .form-footer {
    margin-top: 40px;
  }
}

form {
  margin-top: 5rem;
  label {
    color: $white;
    input {
      color: $white;
      font-size: 1.5em;
      letter-spacing: 5px;
      background-color: transparent;
      width: 100%;
      height: 30px;
      border: none;
      border-bottom: 1px solid $white;
      margin-bottom: 40px;
      &:focus {
        outline: none;
      }
    }
  }
}


label {
    transform: translateY(50px);
}