@import "./variables";
@import "./mixins";
@import "./grid";
@import "./utilities";
@import "./functions";
@import "./animations";
@import "./buttons";

@import "./pages/main";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body {
  display: flex;
  overflow-y: hidden;
  box-sizing: border-box;
  background-color: $primary-secondary;
  font-family: 'Open Sans',
  sans-serif;
}
